.home{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 29, 31);
    height: 100vh;
}
.home__header{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    text-align: center;
    background-color: rgb(37, 39, 43);
}
.home__header a{
    margin-right: 2vw;
    text-decoration: inherit;
    color: rgba(202, 209, 214, 0.877);
    font-size: 1.3vw;
}
@media screen and (max-width: 600px) {
    .home__header a{
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 480px) {
    .home__header a{
        font-size: 3vw;
    }
    .home__header{
        padding: 1vh;
    }
}
.home__header a:hover{
    color: rgb(87, 170, 142);
    text-decoration: underline;
}
.header__right{
    color:  rgba(202, 209, 214, 0.877);
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.header__left{
    color:  rgba(202, 209, 214, 0.877);
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.header__right > .MuiSvgIcon-root{
    margin-right: 2vw;
}
.home__body{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}
.home__body img{
    height: 15vh;
    object-fit: contain;
}